.hero-signup-container .hero-signup-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-signup {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-signup h1,
.hero-signup h2,
.hero-signup h3,
.hero-signup h4,
.hero-signup h5,
.hero-signup h6,
.hero-signup p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-signup.no-image * {
  color: var(--text-color);
}

.hero-signup picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-signup img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-signup {
    padding: 40px 32px;
  }
}
